@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Patua+One&display=swap');
body{
    font-family: 'Inconsolata', monospace;
   
}
main{
    min-height: 90vh;
}

.navbar{box-shadow: 0 0 10px red;}
.nav-link, .navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.return-policy, .terms, .privacy-policy, .return-fund{
    padding: 0 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    text-decoration: none;

}

a{
    text-decoration: none;
}

p{
    color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Patua One', cursive;
}

select option{
    font-family: 'Patua One', cursive;
    
}

button{
    font-family: 'Patua One', cursive;

}

.product-detail{
    background: linear-gradient(to top right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .4), rgba(46, 38, 156, 0.6), red);
}
